[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cloudscraper = "*"
"discord.py" = "*"
beautifulsoup4 = "*"
selenium = "*"
python-dotenv = "*"
py-notifier = "*"
undetected-chromedriver = "*"

[dev-packages]

[requires]
python_version = "3.9"
